parameters:
  level: 8
  checkMissingIterableValueType: false
  paths:
    - plugin.php
    - includes/
    - src/blocks/
  excludePaths:
    analyseAndScan:
      - blocks/*/node_modules/*
      - blocks/*/build/*
  bootstrapFiles:
    - plugin.php
    - tools/wordpress/wp-includes/interactivity-api/interactivity-api.php
