/**
 * Front end and admin styles.
 */

.ag-controller {
	&__wrapper {
		width: 100%;
		margin-block-start: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__results {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		padding: 16px;
		width: max-content;
		font-size: 24px; // Seem to have to start this here.
		border: 2px solid;
		background: #fff;
	}
}
