*:focus {
	border: 1px solid var(--color-yellow);
}

/* stylelint-disable */
// This is going to be used for putting in an alert element after the winning letter.
// It's from https://www.sitelint.com/blog/hiding-a-text-but-making-it-accessible-to-a-screen-reader .
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
	border: 0 !important;
	clip: rect(0, 0, 0, 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	white-space: nowrap !important;
	width: 1px !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
	position: absolute !important;
}
/* stylelint-enable */
