/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "../../../css/variables";
@import "../../../css/helpers";

.ag-game {
	&__wrapper {
		padding: 1em;
	}

	&__name {
		text-align: center;
		font-size: 2em;
		font-weight: 500;
		margin-block: 0.5em;
	}
}
