/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "../../css/variables";

.ag-controller {

	&__results {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		padding: 16px;
		width: max-content;
		font-size: 24px; // Seem to have to start this here.
		border: 2px solid;
	}
}
