/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "../../css/variables";

.ag-characters {

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
	}

	&__item {
		padding: 1em;
		flex-basis: auto;
		background: var(--color-white);
		border: 1px solid var(--color-grey-medium);
		border-radius: var(--border-radius-light);
	}

	&__item--chosen {
		border: 0;
		background: var(--color-grey-light);
		color: var(--color-grey-medium);
		transition: all 0.5s;
	}

	&__item--chosen:focus {
		outline: none;
	}
}
